@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* Estilo general del sitio */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Estilos en el header */
.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}

.navbar a {
  float: left;
  padding-top: 50px;
  width: 14%;
  /* Four links of equal widths */
  text-align: center;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.nav-container {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 100% auto;
      grid-template-columns: 100% auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul a {
  display: block;
  padding: 0;
}

ul img {
  width: 100%;
}

.social-header {
  display: block;
  padding: 2em 4em 2em 0;
}

.social-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7em;
  float: right;
}

.social-header ul img {
  width: auto;
}

/* Estilos en sitio menu colecciones */
.coleccion {
  position: relative;
  text-align: center;
}

.coleccion a {
  text-decoration: none;
}

.menucolec {
  position: relative;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
  color: white;
}

.menucolec a {
  color: white;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 256px;
  text-align: left;
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 256px;
  text-align: left;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 256px;
  text-align: left;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 256px;
  text-align: right;
}

.centered2 {
  position: absolute;
  top: 50%;
  right: 256px;
  text-align: right;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 256px;
  text-align: right;
}

/* Estilos en sitio descargas */
.downloads {
  background-color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  padding: 40px;
}

.downloads p {
  text-align: justify;
}

.downloads .btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #5c4594;
  outline: none;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  text-transform: uppercase;
  font-family: Montserrat;
}

.downloads .btn:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background: #ae111b;
  color: white;
}

.downloads .btn:hover svg {
  stroke-dashoffset: -480;
}

.downloads .btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.downloads h2, .downloads p {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.column {
  width: 33%;
  float: left;
  padding: 50px;
  border-right: 3px solid #b9b9ce;
}

.container {
  margin: auto;
  background-color: #b9b9ce;
  width: 800px;
  padding: 30px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Estilos en sitio menu tethan */
.swiper-container {
  width: 500px;
  position: absolute;
  top: 15%;
  margin-left: 50px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  color: white;
  text-transform: uppercase;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.slider1-text {
  max-width: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-transform: uppercase;
  text-align: justify;
  padding: 0 3rem;
}

.btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: #ae111b;
  border: 2px solid #5c4594;
  outline: none;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  text-transform: uppercase;
  font-family: Montserrat;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background: white;
}

.btn:hover a {
  text-decoration: none;
  color: black;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  font-size: 18px;
  font-weight: 100;
}

/* Estilos en sitios tethan experiencia */
.modelo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 150px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 50px;
  border: 3px solid #ae111b;
  width: 50%;
}

/* The Close Button */
.close {
  color: #b9b9ce;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Experiencias y Colecciones en modelos del ser */
#sentidos {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 29%;
  left: 28%;
}

#forma {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 38%;
  left: 25%;
}

#huesos {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 30%;
}

#ecosistemas {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 27%;
  left: 65%;
}

#tdh {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 47%;
  left: 71%;
}

#papiroflexia {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 68%;
  left: 68%;
}

#comunicacion {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 28%;
  left: 30%;
}

#emocion {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 38%;
  left: 27%;
}

#sexual {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 52%;
  left: 31%;
}

#creativo {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 39%;
  left: 31%;
}

#racional {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 32%;
}

#psicometria {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 48%;
  left: 31%;
}

#chamanes {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 28%;
}

#eneagrama {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 37%;
  left: 27%;
}

#experiencias {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 48%;
  left: 23%;
}

#aura {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 22%;
  left: 29%;
}

#arboles {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 31%;
  left: 26%;
}

#constelaciones {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 44%;
  left: 30%;
}

#geomancia {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 23%;
}

#sinestria {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 63%;
  left: 27%;
}

#informacion {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 42%;
  left: 30%;
}

/* Colecciones y Subcolecciones galerias */
.subcoleccion {
  background-color: white;
  text-align: justify;
  font-size: 20px;
  padding: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallerycolumn {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 33%;
  padding: 0 5px;
}

.gallerycolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallerycolumn {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallerycolumn {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */