@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

.nav-container {
    background-color: black;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 100% auto;
    }

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;  
    }
    ul {
        display: flex;

        a {
            display: block;
            padding: 0;
        }
        img {
            width: 65%;
        }
    }
    .social-header {
        display: block;
        padding: 2em 4em 2em 0;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: auto;
            }
        }
    }
video {
    width: 100%;    
}

.hive {    
    padding-top: 10%;
    text-align: center;

    a {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      color: white;
    }

    .tethan {
      position: absolute;
      top: 35.8%;
      left: 58.3%;      
    }
    .mensaje {
      position: absolute;
      top: 59.4%;
      left: 31.1%;
    }
    .descargar {
      position: absolute;
      top: 59.4%;
      left: 63.2%;
    }
}

.downloads {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    padding: 40px;

    p {
      text-align: justify;
    }
        
    .btn {
        width: 150px;
        height: 50px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #ae111b;
        outline: none;
        transition: 1s ease-in-out;
        text-transform: uppercase;
        font-family: Montserrat;
      }
      .btn:hover {
        transition: 1s ease-in-out;
        background: #d6aa47;
      }
      
      .btn:hover svg {
        stroke-dashoffset: -480;
      }
      
      .btn span {
        color: white;
        font-size: 18px;
        font-weight: 100;
      }
    
    h2, p {
        text-transform: uppercase;
        margin-bottom: 50px;
    }
}
.column {
    width: 33%;
    float: left;
    padding: 50px;
    border-right: 3px solid #b9b9ce;    
}
.container{
  margin: auto;
  background-color: #b9b9ce;
  width: 800px;
  padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.swiper-container {
    width: 800px;
    position: absolute;
    top: 10%;
    margin-left: 50px;
    margin-top: -150px;
    
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    color: white;    
    text-transform: uppercase;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

.slider1-text{
    max-width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, .9);
    color: white;
    text-transform: uppercase;
    text-align: justify;
    padding: 0 3rem;
}

.btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ae111b;
    outline: none;
    transition: 1s ease-in-out;
    text-transform: uppercase;
    font-family: Montserrat;
  }
  .btn:hover {
    transition: 1s ease-in-out;
    background: #d6aa47;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

.modelo img {
  display: block;
  position: relative;
  top: 50%;
  left: 10%;
  width: 80%;  
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 50px;
  border: 3px solid #ae111b;
  width: 50%;
}

/* The Close Button */
.close {
  color: #b9b9ce;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#sentidos {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;  
  font-size: 20px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 32%;
  left: 20%;  
}

#forma {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;  
  font-size: 20px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 46%;
  left: 15%;  
}
#huesos {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;  
  font-size: 20px;
  text-transform: uppercase;
  text-align: justify;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 22%;  
}
#ecosistemas {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;  
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 31%;
  left: 70%;  
}
#tdh {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;  
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 57%;
  left: 79%;  
}
#papiroflexia {
  border: none;
  background-color: black;
  color: white;
  font-family: montserrat;  
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 85%;
  left: 75%;  
}