@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.nav-container {
    background-color: black;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 100% auto;
    }

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;  
    }
    ul {
        display: flex;

        a {
            display: block;
            padding: 0;
        }
        img {
            width: 65%;
        }
    }
    .social-header {
        display: block;
        padding: 2em 4em 2em 0;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: auto;
            }
        }
    }
video {
    width: 100%;    
}
.hive {    
    padding-top: 10%;
    text-align: center;
}

.downloads {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    padding: 40px;
        
    .btn {
        width: 150px;
        height: 50px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #ae111b;
        outline: none;
        transition: 1s ease-in-out;
        text-transform: uppercase;
        font-family: Montserrat;
      }
      .btn:hover {
        transition: 1s ease-in-out;
        background: #d6aa47;
      }
      
      .btn:hover svg {
        stroke-dashoffset: -480;
      }
      
      .btn span {
        color: white;
        font-size: 18px;
        font-weight: 100;
      }
    
    h2, p {
        text-transform: uppercase;
        margin-bottom: 50px;
    }
}
.column {
    width: 33%;
    float: left;
    padding: 50px;
    border-right: 3px solid #b9b9ce;    
}
.container{
  margin: auto;
  background-color: #b9b9ce;
  width: 800px;
  padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 800px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
.swiper-container {
    width: 800px;
    position: absolute;
    top: 25%;
    margin-left: 50px;
    margin-top: -150px;
    
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;    
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

.slider1-text{
    max-width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, .9);
    color: white;
    text-transform: uppercase;
    text-align: justify;
    padding: 0 3rem;
}

.btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ae111b;
    outline: none;
    transition: 1s ease-in-out;
    text-transform: uppercase;
    font-family: Montserrat;
  }
  .btn:hover {
    transition: 1s ease-in-out;
    background: #d6aa47;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

